@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');
.container{
    font-family: 'Inter', sans-serif;

}

.navbar{
    margin-bottom: 2%;
    max-width: 85%;
    margin-top:5%;
}
.logo{
    margin-left: 65%;
}
.nav-item{
    color:hsl(236, 13%, 42%);
}
.nav-item:hover{
    color:hsl(35, 77%, 62%);
    cursor: pointer;

}
.desktop-image {
    width: 100%;
    height: 300px
}

.mobile-image {
    display: none;

}
.hero-wrapper{
    margin-left: 5%;
}
.hero-content{
    display:flex;
}
.hero-title{
    font-size:3rem;
    font-weight:800;
    margin: 5%;
    width:70%;

}
.hero-body{
    width:60%;
    font: 15px;
    margin:5% 5%;
    color:hsl(236, 13%, 42%)
}
.right-header{
    font-size: 2rem;
    margin-left: 10%;
    color:hsl(35, 77%, 62%);
}
.right-section {
    background-color: hsl(240, 100%, 5%);
    width:22rem;
    color: white;
    padding: 5% 0% 5% 0%;
}
.right-section-list{
    margin:5% 0% 5% 0%;
}
.right-title{
    font-size: 1.3rem;
    font-weight: 700;
}
.right-title:hover{
    color:hsl(35, 77%, 62%);
    cursor: pointer;

}
.right-body{
    font-size: 13px;
    font-weight: 100;
   color: hsl(233, 8%, 79%);
}
hr{
    padding-bottom: 5%;
}
.read-more-btn {
    background-color: hsl(5, 85%, 63%);
    color: white;
    height: 50px;
    width: 200px;
    border: none;
    letter-spacing: .2rem;
    font-size:0.9rem;
    font-weight:600;
}

.read-more-btn:hover{
    background:hsl(240, 100%, 5%);
    color:white;

}

ul {
    list-style: none;
}
li{
    margin: 0% 5% 0% 5%;
}
.bottom-title{
    font-size: 2rem;
    font-weight: bold;

}
.bottom-header{
    color:hsl(240, 100%, 5%);
}
.bottom-section {
    display: flex;
    margin-left: 5%;
    margin-right: 15%;
}
a.bottom-header{
    text-decoration: none;
}
a.bottom-header:hover{
    color:hsl(5, 85%, 63%);
    cursor: pointer;
}
.bottom-img {
    height: 150px;
}

.bottom-item {
    display: flex;
    width:25rem;
    color:hsl(236, 13%, 42%);

}

.bottom-text {
    padding:2%;
}

.bottom-title {
    color: hsl(233, 8%, 79%)
}

@media (max-width: 600px) {
    .navbar{
        margin-bottom: 5%;
        max-width: 100%
    }
    .desktop-image {
        display: none;

    }

    .mobile-image {
        display: flex;
        width: 100%;

    }
    .hero-title{
        font-size:3rem;
        font-weight:800;
        width:100%;
    
    }
    .hero-body{
        width:100%;
        font: 15px;
        margin:5% 5%;
        color:hsl(236, 13%, 42%)
    }
    .hero-content{
        display:block;
    }
    .right-section {
        padding:0%;
        margin: 0%;
    }
    .right-section-list{
        margin: 0%;
    }
    .bottom-section {
        padding-top: 10%;
        width:300px;
        display: flex;
        flex-direction: column;
    }
    .right-section{
        width:100%;
    }
    .bottom-item {
        width:20rem;
    
    }
    
}
